<div class="container box" >
  
  <div>
    <a href="/create" class="button is-info is-rounded" border-radius="55%"><i class="gg-add"></i></a>
  </div>
  <br>
  <table 
    class="table is-bordered is-striped is-narrow is-hoverable" width="100%" 
 
  >
    <thead align="center">
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Rol</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody  align="center">
      <% results.forEach((users)=>{ %>
      <tr>
        <td><%= users.Id %></td>
        <td><%= users.user %></td>
        <td><%= users.rol %></td>
        <td class="" >
          <a href="/edit/<%= users.Id %>" class="button is-primary is-rounded "
            ><i class="gg-pen"></i
          ></a>
          <a href="/delete/<%= users.Id %>" class="button is-danger is-rounded"
            ><i class="gg-remove"></i
          ></a>
        </td>
      </tr>

      <% }) %>
    </tbody>
  </table>
</div>
